schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="educacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reforma" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ano" type="xs:gYear"/>
              <xs:element name="nome" type="xs:string"/>
              <xs:element name="descricao" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
